*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.background{
    background-color: #e8e7e7 ;
}

nav{
    display: flex;
    justify-content:  center;
    align-items: center;
    margin: 62px -200px;
    overflow: hidden;
}

.pic1{
    height: 42px;
    width: 42px;
}

.menu a{
    text-decoration: none;
    color: black;
    margin-inline: 27px;
}

.menu{
    margin: 0 200px;
}

.signUp button{
    background-color: #e94339;
    border: none;
    border-radius: 36px;
    width: 115px;
    height: 56px;
    color: white;
}

.signUp{
    display: flex;
    align-items: center;
}

.signUp p{
    text-align: center;
    margin-right: 30px;
}

.delivery{
    margin: 103px 168px 60px 60px;
    display: flex;
    /* overflow: hidden; */
}

.location{
    margin-right: 109px;
}

.pic2{
    background-color: #f2ebda;
    border-radius: 36px;
    width: 500px;
    height: 452px;
    padding: 37px 35px 11px 35px;
}

#food{ 
    font-size: 61px;
    text-wrap: nowrap;
}

.info p{
    font-size: 18px;
    margin: 16px 0 32px 0;
}

input{
    position: relative;
}

input[type="email"]{
    border: none;
    border-radius: 56px;
    width: 464px;
    height: 64px;
}

input[type="submit"]{
    background-color: #ff5331;
    border: none;
    border-radius: 56px;
    color: white;
    width: 134px;
    height: 52px;
    top: -58px;
    left: 350px;
}

.try{
    padding-left: 24px;
}

.appstore{
    margin-top: 35px;
    margin-right: 33px;
}

.playstore{
    margin-top: 35px;
}

.ten{
    margin: 140px 489px 180px;
    text-align: center;
}

.more{
    font-size: 46px;
    margin-bottom: 17px;
}

.more span{
    color: #ff5331;
}

.bigdiv{
    margin-top: -120px;
}

.div1{
    margin-bottom: 180px;
}
.pizzaxx{
    display: flex;
    gap: 20px;
    margin: 21px 180px;
    
}

#pizza{
    width: 158px;
    height: 232px;
    border: none;
    border-radius: 28px;
    background-color: white;
}

#pizza img{
    background-color: #e8e7e7;
    height: 50px;
    width: 50px;
    padding: 27px;
    margin: 32px 30px;
    border-radius: 100px; 
}

#pizza p{
    margin-left: 53px;
    font-size: 24px;
}


#burger{
    width: 158px;
    height: 232px;
    border: none;
    border-radius: 28px;
    background-color: white;
}

#burger img{
    background-color: #e8e7e7;
    height: 50px;
    width: 50px;
    padding: 27px;
    margin: 32px 30px;
    border-radius: 100px; 
}

#burger p{
    margin-left: 53px;
    font-size: 24px;
}

#sushi{
    width: 158px;
    height: 232px;
    border: none;
    border-radius: 28px;
    background-color: white;
}

#sushi img{
    background-color: #e8e7e7;
    height: 50px;
    width: 50px;
    padding: 27px;
    margin: 32px 30px;
    border-radius: 100px; 
}

#sushi p{
    margin-left: 33px;
    font-size: 24px;
}

#bike{
    width: 568px;
    height: 232px;
    border: none;
    border-radius: 28px;
    background-color: white;
}

#bike img{
    height: 116.13px;
    width: 192.13px;
    padding: 27px;
    margin: -13.9px 27.87px 1.32px 315px;
}


#bike p{
    margin: 38px 98px 0 33px;
    font-size: 25.8px;
}

#orange{
    color: #ff5331;
}

#green{
    color: #009b00;
}

.pasta{
    display: flex;
    gap: 20px;
    margin: 50px 400px 0px 80px;
}


#vector img{
    width: 61px;
    height: 50.42px;
    margin-bottom: 34px;
}

#vector p{
    font-size: 23px;
    text-wrap: nowrap;
}

.div2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.num{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 115px;
}

.one{
    margin-left: -110px;
}

.two{
    margin-left: -20px;
}
.three{
    margin-left: -20px;
}
.four{
    margin-right: -20px;
}

.bers{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    font-size: 44px;
    color: #FF5331;
    margin-top: 39px;
}

.imgg{
    background-color: #e8e7e7;
    height: 50px;
    width: 50px;
    padding: 24px;
    margin-top: 60px; 
    border-radius: 100px; 
}

.text{
    font-size: 24px;
    text-align: center;
    padding: 24px 23px 44px;
}

.numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 214px;
    height: 267px;
    border: none;
    border-radius: 28px;
    background-color: white;
}

.div3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 195px 406px 0px;
}

#client{
    font-size: 44px;
    text-align: center;
}

#s{
    font-size: 16px;
    margin: 18px 0px 55px 0px;
    text-align: center;
}

#ss{
    font-size: 24px;
    margin: 42px 0px;
    text-align: center;
    text-wrap: nowrap;
}

#sss{
    font-size: 18px;
    margin-bottom: 3px;
    text-align: center;
}

#ssss{
    font-size: 14px;
    text-align: center;
}

.div3 img{
    height: 55px;
    width: 60px;
}
#imges{
    height: 36px;
    width: 96px;
    margin-top: 25px;
}
.subscribe{
    background-color: #FFEFEC;
    margin-top: 167px;
    /* overflow: hidden; */
}
#sub{
    padding: 103px 0px 12px 91px;
    font-size: 46px;
    font-weight: 600;
    letter-spacing: 0.5%;
}
.subscribe p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5%;
    padding-left: 91px;
}
.send input[type="email"]{
    width: 470px;
    height: 62px;
    top: -80px;
    left: 850px;
}
.send input[type="submit"]{
    width: 85px;
    height: 52px;
    top: -80px;
    left: 755px;
}
.black{
    background-color: #000000;
    color: #fff;
}
.quick{
    display: flex;
    justify-content: end;
}
#piz{
    height: 42px;
    width: 42px;
    margin: 80px 0px 82px 100px;
}
#apps{
    width: 182.44px;
    height: 68px;
    margin-top: 150px;
    margin-left: 90px;
}

#gplay{
    width: 182.44px;
    height: 68px;
}
.quick_links{
    margin-top: -190px;
    margin-bottom: 100px;
    margin-right:100px;
    list-style: none;
}
#different{
    font-weight: 600;
    font-size: 17.76;
    margin-bottom: 18.5px;
    color: #fff;
}
.quick_links li{
    margin-bottom: 18.5px;
    font-weight: 400;
    color: #AAA7B1;
}
footer{
    background-color: #000000;
    color: #B5B2B2;
    padding-top: 117.7px;
    display: flex;
    padding-bottom: 90px;
}
.copy{
    font-size: 15.54px;
    font-weight: 400;
    text-wrap: nowrap;
}
.privacy{
    display: flex;
    margin-left: 682.19px;
    margin-right: 152px;
    gap: 30px;
}